<div>
<div>Saavn</div>
<div> Sign In </div>
<div id="signin-form">
        <label id="email-label">Email </label><br>
        <input type="email" id="email-input" required="true"><br>
        <label id="password-label">Password</label><br>
        <input type="password" id="password-input" required="true" ><br>
    <button id="signin-btn" (click)="signInSaavn(this)">Sign In</button>
</div>
<div>
    -----------------New to Saavn-----------------
</div>
<div>
    <button id="register" (click)="register(this)">Create a new account</button>
</div>
<div>
    <button id="backtohome" (click)="backTohome(this)">Back to Home</button>
</div>
</div>