<div>
   <strong> <p> SIGN IN FOR EXISTING USERS </p></strong>
    <div>
            <button id="signinsaavn" (click)="signinsaavn(this)">Click here to sign in!</button>
    </div>
    <br>
    <div>
                <a href="{{gmailurl}}">Login with Google instead</a>
                <br>
                <br>
            <button id="signingmail" (click)="signingmail(this)">Sign In with Gmail</button>
    </div>
    <div>
        <p>------------------------ or ------------------------</p>
    </div>
    <div>
            <button id="register" (click)="register(this)">Create a new account</button>
    </div>
    <div>
            <p>By signing in, you agree to IMDb's Conditions of Use and Privacy Policy.</p>
    </div>
    <div>
                <button id="backtohome" (click)="backTohome(this)">Back to Home</button>
            </div>
</div>