<div>
    <p> Sign In </p>
    <div>
            <button id="signinsaavn" (click)="signinsaavn(this)">Sign In with Saavn</button>
    </div>
    <div>
                <a href="{{gmailurl}}">Login with Google</a>
            <button id="signingmail" (click)="signingmail(this)">Sign In with Gmail</button>
    </div>
    <div>
        <p>------------------------ or ------------------------</p>
    </div>
    <div>
            <button id="register" (click)="register(this)">Create a new account</button>
    </div>
    <div>
            <p>By signing in, you agree to IMDb's Conditions of Use and Privacy Policy.</p>
    </div>
    <div>
                <button id="backtohome" (click)="backTohome(this)">Back to Home</button>
            </div>
</div>